body
{
    font: message-box;
    font-size: 14px;
}

.head-category
{
    font-size: 24px;
    font-weight: 200;
    line-height: 1em;
    margin: 24px 0 12px 0;
}

#head-source, #head-target, #head-regular-expression
{
    width: 200px;
    cursor: pointer;
}

#input-source, #input-target
{
    width: 198px;
}

#input-regular-expression-center
{
    display: -moz-grid;
    width: 198px;
}

#button-add
{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: transparent url("./images/add.png") no-repeat left top;
    cursor: pointer;
    margin-left: 6px;
}

.remove-button
{
    display: inline-block;
    width: 16px;
    height: 16px;
    background: transparent url("./images/bin_closed.png") no-repeat left top;
    cursor: pointer;
}